---
import type { Content as Props } from "@/types/components";
import Button from "@/components/elements/Button.astro";
import Headline from "@/components/sections/Headline.astro";
import ItemGrid from "@/components/sections/ItemGrid.astro";

const {
  title = await Astro.slots.render("title"),
  subtitle = await Astro.slots.render("subtitle"),
  tagline,
  content = await Astro.slots.render("content"),
  callToAction,
  items = [],
  columns,
  image = await Astro.slots.render("image"),
  isReversed = false,
  isAfterContent = false,
  id,
  classes = {},
}: Props = Astro.props;
---

<section
  id={id}
  class:list={[
    "m-12 mx-auto max-w-content",
    isAfterContent ? "pt-0 md:pt-0 lg:pt-0" : "",
    classes?.container ?? "",
  ]}
>
  <Headline
    title={title}
    subtitle={subtitle}
    tagline={tagline}
    classes={{
      container: "max-w-xl sm:mx-auto lg:max-w-2xl",
      title: "text-3xl md:text-5xl tracking-tighter mb-4 font-medium",
      subtitle: "max-w-4xl mx-auto sm:text-center text-xl text-skin-accent",
    }}
  />
  <div class="mx-auto max-w-7xl rounded-md border-2 border-skin-muted/10">
    <div
      class:list={[
        "md:flex",
        isReversed ? "md:flex-row-reverse" : "",
        "rounded-r-md md:gap-8",
      ]}
    >
      <div class="self-center md:basis-1/2">
        <div class="p-4">
          {
            content && (
              <div class="not-prose mb-2 text-skin-base" set:html={content} />
            )
          }

          {
            callToAction && (
              <div class="mb-8 mt-[-40px] text-skin-base">
                <Button variant="link" {...callToAction} />
              </div>
            )
          }
        </div>

        <ItemGrid
          items={items}
          columns={columns}
          defaultIcon="tabler:check"
          classes={{
            container: "gap-y-4 md:gap-y-8 p-4",
            panel: "max-w-none",
            title: "text-lg font-medium leading-6 ml-2",
            description: "text-muted ml-2",
            icon: "flex h-7 w-7 items-center justify-center rounded-full bg-skin-accent p-1 text-white",
            action: "text-lg font-medium leading-6 ml-2",
          }}
        />
      </div>
      <div aria-hidden="true" class="mt-10 md:mt-0 md:basis-1/2">
        {
          image && typeof image === "string" && (
            <div class="mx-auto h-full max-w-full">
              <Fragment set:html={image} />
            </div>
          )
        }
      </div>
    </div>
  </div>
</section>
