---
import { ClientRouter } from "astro:transitions";

import Breadcrumb from "@/components/Breadcrumb.astro";
import { SEO } from "@/components/seo";
import SizeIndicator from "@/components/SizeIndicator.astro";
import { SITE } from "@/config";
import "@/styles/global.css";

export interface Props {
  title?: string;
  author?: string;
  profile?: string;
  description?: string;
  ogImage?: string;
  canonicalURL?: string;
  pubDatetime?: Date;
  modDatetime?: Date | undefined;
  scrollSmooth?: boolean;
}

const {
  title = SITE.title,
  author = SITE.author,
  // profile = SITE.profile,
  description = SITE.desc,
  ogImage = SITE.ogImage ? `/${SITE.ogImage}` : "/og.png",
  canonicalURL = new URL(Astro.url.pathname, Astro.url),
  pubDatetime,
  modDatetime,
  scrollSmooth = false,
} = Astro.props;
---

<!doctype html>
<html lang=`${SITE.lang ?? "en"}` class={`${scrollSmooth && "scroll-smooth"}`}>
  <head>
    <SEO
      title={title}
      description={description}
      canonicalURL={canonicalURL.toString()}
      ogImage={ogImage}
      pageType={pubDatetime ? "article" : "webpage"}
      publishedTime={pubDatetime}
      modifiedTime={modDatetime}
      author={{ name: author }}
    />
    <ClientRouter />
    <script is:inline src="/toggle-theme.js"></script>
  </head>

  <body data-pagefind-body class="px-2 lg:px-12" data-astro-prefetch>
    {Astro.url.pathname !== "/" && <Breadcrumb />}
    <div transition:animate="fade" transition:name="layout">
      <slot />
    </div>
    {import.meta.env.DEV && <SizeIndicator />}

    {/* Site Behaviour */}
    <!-- {import.meta.env.PROD && <SiteBehaviour />} -->
  </body>
</html>
